:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px;
}

button {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
}

label {
  width: 100%;

  input[type="text"] {
    width: 100%;
  }
}